asgiref==3.8.1
django==5.2.1
django-components==0.143.2
django-mssql-backend==2.8.1
django-redis==5.4.0
djc-core-html-parser==1.0.3
mssql-django==1.6
pyodbc==5.3.0
python-dotenv==1.2.1
redis==5.2.0
ruff==0.14.10
sqlparse==0.5.3
tzdata==2025.2
